@{
    ViewData["Title"] = "Trabalho";
}

<div class="text-center">
    <h1 class="display-4">Gabriel Izaque Uberti Giehl</h1>
    <br>
    <label>Cursos Profissionalizantes</label>
    <br><br>

    <div class="d-flex flex-wrap justify-content-center gap-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Lógica de Programação 60h</h5>
                <p class="card-text">SENAC 2023</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Informática Básica 160h</h5>
                <p class="card-text">SENAC 2023</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Técn. em Informática 1200h</h5>
                <p class="card-text">SENAC 2024-2026</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Inglês Avançado 500h</h5>
                <p class="card-text">Hope Idiomas 2023-2026</p>
            </div>
        </div>
    </div>
</div>
